useDynLib(SLACC, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo)
importFrom(foreach)
importFrom(MASS)
importFrom(rTensor)
export(SLACC)
export(SLACC2)
export(SLACC_harmonize)